[package]
name = "kcshot-rs"
version = "0.1.0"
authors = ["Mi»õca Dumitru <dumitru0mitca@gmail.com>"]
edition = "2018"
license = "EUPL v1.2"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
# UI-related dependencies
cairo-rs = { version = "0.14.9", features = ["png", "xlib", "xcb"] }
pangocairo = "0.14.0"
image = { version = "0.23.14", default-features = false }
gtk4 = "0.3.1"
x11 = "2.19"

# User settings, history
diesel = { version = "1.4.8", features = ["sqlite"] }

# Miscelaneous
once_cell = "1.2.0"
chrono = "0.4.19"
rand = "0.8.4"
libc = "0.2.104"

# Logging and error reporting
tracing = "0.1.23"
tracing-subscriber = "0.2.15"
thiserror = "1.0.30"
