[package]
name = "kcshot-rs"
version = "0.1.0"
authors = ["Mi»õca Dumitru <dumitru0mitca@gmail.com>"]
edition = "2021"
license = "EUPL v1.2"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
# UI-related dependencies
ashpd = { version = "0.3.0", features = ["log", "feature_gtk4"] }
cairo-rs = { version = "0.15.1", features = ["png", "xcb"] }
pangocairo = "0.15.1"
image = { version = "0.24.0", default-features = false, features = ["png"] }
gtk4 = "0.4.1"
gdk4-x11 = "0.4.0"
xcb = { git = "https://github.com/rust-x-bindings/rust-xcb", features = [
  "debug_atom_names",
  "shape",
  "xfixes",
] }
ksni = "0.2.0"
pulldown-cmark = { version = "0.9.1", default-features = false }
regex = "1.5.6"

# User settings, history
diesel = { version = "1.4.8", features = ["sqlite"] }
diesel_migrations = "1.4.0"
gsettings-macro = "0.1.9"
xdg = "2.1"

# Miscelaneous
once_cell = "1.2.0"
rand = "0.8.4"

# Logging and error reporting
tracing = "0.1.23"
tracing-subscriber = { version = "0.3.11", features = ["env-filter"] }
thiserror = "1.0.30"

[build-dependencies]
glib-build-tools = { git = "https://github.com/gtk-rs/gtk-rs-core", package = "glib-build-tools" }

[features]
xdg-paths = []
# Only specify this when trying to diagnose memory leaks, it shouldn't be used for normal usage
heaptrack = []

[package.metadata.cargo-machete]
ignored = [
  "cairo-rs", # The crate exported by this package is called cairo
]
